@model UserWebData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User data</h1>
    <p>IP: @(Model.Ip)</p>
    <p>Browser: @(Model.Browser)</p>
</div>
